body {
  font-family: Helvetica, sans-serif;
  background-color: darkslategray;
  color: wheat;
  font-weight: lighter;
}

.header {
  text-align: center;
  font-weight: 100;
  padding: 10px;
}

h2 {
  text-align:center;
}

.region-container {
  position: relative;

}

.region-name {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 10vw;
  color: #e15858;
  font-weight: 100;
}

.region-img{
  width: 100%;
  margin: 0;
  padding: 0;
}