body {
  font-family: Helvetica, sans-serif;
  background-color: white;
  font-weight: lighter;
}

.site-h1 {
  text-align: center;
  font-weight: 100;
  padding: 5vw 0 0 0;
  font-size: 5vw;
}

h2 {
  text-align:center;
}

.region-container {
  padding: 5vw;
}

.region-text-container {
  position: relative;

}

.region-name {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 10vw;
  font-weight: 100;
  background-color: white;
  padding: 1vw;
}

.region-img{
  width: 100%;
  margin: 0;
  padding: 0;
}

.region-description {
  margin: 5%;
  font-size: 2.0vw;
}

.region-h3 {
  color: darkslategrey;
  font-size: 4vw;
  text-decoration: underline; 
  margin: 5vw;
  text-align: center;
}

.add-btn{
  border: 1px solid black;
  background-color: white;
  text-align: center;
  font-size: 2vw;
  font-weight: lighter;
  padding: 10px;
  text-decoration: none;
  transition-duration: 0.4s;
}

.add-btn:hover, add-bottle-btn:hover {
  border: 1px solid black;
  background-color: darkslategrey;
  color: white;
  cursor: crosshair;
  
}

.distillery-btn-div {
  text-align: center;
}

form {
  padding: 2vw;
  background-color: rgb(233, 242, 221);
  margin: 5vw;

}

input {
  display: inline-block;
  width: 30%;
  margin: 2vw;
  padding: 1vw 2vw;
  border: 1px solid black;
  display:grid;
  font-size: 2vw;
}

input[type=submit]{
  width: 18%;
  margin: 5vw 2vw;
  background-color: white;
  transition: 0.4s;
  
}

input[type=submit]:hover{
  background-color: darkslategrey;
  color: white;
  cursor: crosshair;
}

.distillery-div {
  padding: 0 3vw 6vw 3vw;
  border-bottom: .5vw solid darkslategrey;
}

.distillery-h3 {
  color: darkslategrey;
  font-size: 3vw;
  font-weight: 500;
}

.distillery-h4 {
  color: darkslategrey;
  font-size: 2vw;
  font-weight: 500;
}

.bottle-ul {
  list-style-type: none;
  color: rgb(215, 109, 64);
  padding: 0 0 1vw 0;
}

.bottle-li {
  padding: .5vw;
  font-size: 2vw;

}


