body {
  font-family: Helvetica, sans-serif;
  background-color: white;
  font-weight: lighter;
}

.header {
  text-align: center;
  font-weight: 100;
  padding: 10px;
}

h2 {
  text-align:center;
}

.region-container {
  padding: 5vw;
}

.region-text-container {
  position: relative;

}

.region-name {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 10vw;
  font-weight: 100;
  background-color: white;
  padding: 1vw;
}

.region-img{
  width: 100%;
  margin: 0;
  padding: 0;
}

.region-description {
  margin: 5%;
  font-size: 2.0vw;
}

.add-btn{
  border: 1px solid black;
  background-color: white;
  text-align: center;
  font-size: 2vw;
  font-weight: lighter;
  padding: 10px;
  text-decoration: none;
  transition-duration: 0.4s;
}

.add-btn:hover, add-bottle-btn:hover {
  border: 1px solid black;
  background-color: darkslategrey;
  color: white;
  cursor: crosshair;
  
}

.add-distillery-form {
  padding: 10px;
  margin: 5%;

}